{% extends 'base.html.twig' %}
{% block title %} trocServices {% endblock %}

{% block  body %}
    <link rel="stylesheet" href="css/TrocCSS.css" >

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th> ID </th>
            <th>Service Demandé </th>
            <th>Service Proposé </th>
            <th>Photo </th>
        </tr>
        </thead>
        <tbody>
        {% for t in trocs %}
            <tr>
                <th scope="row">{{ t.id }}</th>
                <th>{{ t.serviceDemande }}</th>
                <th>{{ t.servicePropose }}</th>
                <th><img src="{{ t.photo }}" alt="{{ t.serviceDemande }}" /></th>
            </tr>
        {% endfor %}


        </tbody>
    </table>


{% endblock %}